[Unit]
Description=PicoVPN daemon service
After=network.target

[Service]
Environment="AUTOCERT_EMAIL=nikiforova693@gmail.com"
Environment="TELEGRAM_BOT_TOKEN=7602027535:AAGrPptEC__CbwGqT-6vFpc-SdnEBAAtiSY"
Type=simple
ExecStart=/usr/local/bin/picovpn-daemon
Restart=on-failure

[Install]
WantedBy=multi-user.target